:root {
  font-family: 'Montserrat', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  
  /* Impostiamo il colore di sfondo anche a livello radice per evitare fasce bianche */
  background-color: var(--bg-body);
  color: var(--text-main);
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh; /* Forza l'altezza minima a tutto lo schermo */
  background-color: var(--bg-body); /* Segue il tema scuro/chiaro */
  transition: background-color 0.3s ease;
}

#root {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}